@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Text:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Text:wght@200..700&display=swap');

:root {
    --cor-padrao: rgb(231, 231, 231);
    --cor-primaria: rgb(238, 208, 12);
    --cor-secundaria: rgb(17, 17, 17);
    --font-primaria: 'Montserrat';
    --font-secundaria: 'Open Sans'; 
    --fade-in: normal fade-in 2s;  
    --espacamento1: 0.5rem; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

/* NAVEGAÇÃO */

.nav {
    position: absolute;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-primaria);
    animation: var(--fade-in);
}

.left-side {
    position: absolute;
    display: flex;
    left: 0;
    margin: 1rem 0rem 1rem 2.8rem;
}

.left-side h3 {
    color: var(--cor-padrao);
}

.right-side {
    position: absolute;
    display: flex;
    margin: 1rem 2.8rem 1rem 0rem;
    right: 0;
    gap: 1rem;
}

.right-side a{
    text-decoration: none;
    color: #fff;
    margin: 0 1rem;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}

.right-side a:hover {
    transform: scale(1.05);
    color: var(--cor-primaria);
}

/*  HERO SECTION */

#hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
    z-index: -1;
    gap: 5rem;
}

#hero::before {
    content: "";
    background: url(/src/assets/aracaju.jpg) no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    opacity: 0.3;
    z-index: 1;
}

/* TEXTOS + BOTOES */

.content {
    display: flex;
    flex-direction: column;
    gap: var(--espacamento1);
    z-index: 2;
    width: 28rem;
    color: var(--cor-padrao);
    margin-bottom: 11rem;
    animation: var(--fade-in);
}

.content h1 {
    font-family: var(--font-primaria);
    font-size: 3rem;
}

.content p {
    font-family: var(--font-secundaria);
    font-size: 0.95rem;
}

a {
    text-decoration: none;
}

.cta {
    position: relative;
    padding: 8px 18px;
    transition: all 0.2s ease;
    border: 3px solid rgb(223, 198, 35);
    border-radius: 50px;
    background: rgb(223, 198, 35);
    cursor: pointer;
    margin-top: 1.2rem;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    border-radius: 50px;
    background: #e9e9e9e0;
    width: 38px;
    height: 38px;
    margin: 0.01rem 0.1rem 0.01rem 0rem;
    transition: all 0.6s ease;
}

.cta span {
    position: relative;
    font-family: var(--font-primaria);
    font-size: 18px;
    color: var(--cor-secundaria);
    font-weight: 600;
    letter-spacing: 0.05em;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: #e9e9e9e0;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #e9e9e9e0;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.5s ease;
}

.cta:hover span {
    color: var(--cor-padrao);
}

.cta:hover:before {
    width: 98%;
    background: #1c1c1c;
}

.cta:hover svg {
    transform: translateX(0);
    transition: all 2s ease;
}

.cta:active {
    transform: scale(0.95);
    transition: all 2s ease;
}

/* CARDS FOTOS */

.preview {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.card {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 10px 0px 10px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: var(--fade-in);
}

.card:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
    z-index: 1;
}

.card:hover {
    transform: scale(1.1);
}

.card h1 {
    position: absolute;
    top: 0.8rem;
    left: 50%;
    color: black;
    font-family: var(--font-primaria);
    font-size: var(--espacamento1);
    letter-spacing: 0.03rem;
    text-align: center;
    z-index: 2;
    transform: translateX(-50%) scale(1.5);
    transition: top 0.35s ease, transform 0.35s ease, color 0.25s ease;
}

.card:hover h1 {
    top: 50%;
    transform: translate(-50%, -50%) scale(1.65);
    color: var(--cor-padrao); 
}

/* PONTOS TURISTICOS  */

#pontos {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background-color: var(--cor-padrao);
}

#pontos img {
    max-width: 800px;
}

#pontos div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.8rem;
    margin: 1.8rem 0rem 1.8rem 30rem;
}

#pontos p {
    font-family: var(--font-secundaria);
    max-width: 900px;
    font-size: 1.3rem;
}

#pontos h1 {
    font-family: var(--font-primaria);
    font-size: 2.2rem;
}

#passarela {
    width: 1000px;
}

/* FOOTER */

#contact {
    width: 100%;
    height: 100vh;
    font-family: var(--font-primaria);
    color: var(--cor-padrao);
}

#contact div.background {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

#contact div.background video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.container-contact {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    z-index: 1;
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.925), transparent);
}

.callout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.callout h1 {
    font-size: 3rem;
    margin-bottom: var(--espacamento1);
}

.callout a {
    text-decoration: none;
    color: var(--cor-secundaria);
    border: none;
    border-radius: 50px;
    padding: 0.7rem 0.9rem;
    background-color: var(--cor-primaria);
    box-shadow: 0 0 15px rgba(26, 26, 26, 0.788);
    transition: all 0.3s ease;
}

.callout a:hover {
    transform: scale(0.95);
    background-color: var(--cor-secundaria);
    color: var(--cor-padrao);
}

.callout span {
    font-size: 0.9rem;
}

.callout i {
    margin-left: var(--espacamento1);
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials h5 {
    color: var(--cor-primaria);
    font-size: 1.4rem;
}

.socials h6 {
    font-size: 1.1rem;
    margin-bottom: var(--espacamento1);
}

.socials-btn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.socials-btn a {
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    font-size: 22px;
    border: none;
    padding: 0.5rem 0.3rem;
    transform: scale(0.9);
}

.socials-btn a:hover {
    background-color: #1c1c1c;
    color: var(--cor-padrao);
    transform: scale(0.98);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1000px) {
    
}